
- @playlist.each do |playlist|
  %p[playlist]
    = playlist.video.title
    = playlist.video.link
    = playlist.video.voteup
    = playlist.video.votedown
  = link_to "Add Music" , party_videos_path

