
%br

#search 
  .container 
    .row
      .col-md-5 
      = form_tag(tracks_path, :method => "get", id: "search-form") do
        = text_field_tag :search, params[:search], placeholder: "Search Track"
        = submit_tag "Search"
        

.container
  .row
    .col-md-4
      = simple_form_for [@party,  @playlist] do |f|
        = f.association :track
        = f.submit 'Add Music' , class: 'btn btn-primary'

