
%br

#search 
  .container 
    .row
      .col-md-5 
        = form_tag party_playlists_path, :method => :post do
          %div
            = label_tag "search for:"
            = text_field_tag "query"
    

          %div
            = submit_tag "Search", class: 'btn btn-primary'


.container
  .row
    .col-md-4
      = simple_form_for [@party,  @playlist] do |f|
        = f.association :track
        = f.submit 'Add Music' , class: 'btn btn-primary'

